<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body>
	<h1>test-chart: beta</h1>

<script>
document.body.style.backgroundColor = "gray";

let data = <%- JSON.stringify(arrObj) %>
console.log(data)
data.forEach((a,i)=> {

	let divWrapper = document.createElement('div')
			divWrapper.style.position = "relative";
			divWrapper.style.left = "5%";
			divWrapper.style.border = "thin dotted black";
			divWrapper.style.borderRadius = "10px"
			divWrapper.style.backgroundColor = "#e6ffff"
			divWrapper.style.width= "90%";
			divWrapper.style.padding = "10px 10px 10px 10px";
	let nadpis = document.createElement("H3")
			nadpis.innerHTML = `${a.info.title}  (${a.info.channel.name})`
	let odkaz = document.createElement("a")
			odkaz.href = a.info.url
			odkaz.innerHTML = a.info.url
	let canvas = document.createElement("canvas");
			canvas.setAttribute("id", "myChart"+i);

	document.body.appendChild(divWrapper)
	divWrapper.appendChild(nadpis)
	divWrapper.appendChild(odkaz)
	divWrapper.appendChild(canvas)
	});


data.forEach((obj,i) => {

	var chartID = "myChart"+ (i);
	console.log(chartID)
	var ctx = document.getElementById(chartID).getContext('2d');

		var newDiv = document.createElement('div')
		var chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: obj.time,
				datasets: [
					{
						data: obj.lul,
						label: "lul",
						borderColor: "#3cba9f"
					}, {
						data: obj.sad,
						label: 'sad',
						borderColor: "#FF6277"
					},
				]
			},
			option: {
				title: {
					display: true,
					text: "Some title"
				}
			}
	});
})

</script>
</body>


</html>
