<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<style>
body {

	background-color: #61819A;
}
.container {
	border: 1px solid gray;
	border-radius: 8px;
	background-color: white;
	width: 90%;
	display: table;
  margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	line-height: 8px;
	}

.nadpis {
		color: darkred;
}

p {
	color: gray;
}

</style>

<body>
	<h1>test-chart v0.7</h1>

<script>


let data = <%- JSON.stringify(arrObj) %>
console.log(data)
data.forEach((item,i) => {
	const newDiv = document.createElement("div")
				newDiv.setAttribute("class", "container")
	const markup =`
		<h3 class = "nadpis">${item.info.title} </h3>
		<h3 class = "streamer">${item.info.channel.name} </h3>
		<p class = "publikováno">Publikováno: ${item.info.published_at} </p>
		<p class = "views">Shlédnutí: ${item.info.views}x	</p>
 		<a href= ${item.info.url}>Link: ${item.info.url} </a>
		<canvas id = "myChart${i}"></canvas>
	`
		newDiv.innerHTML = markup;
		document.body.appendChild(newDiv)
})


data.forEach((obj,i) => {
	const chartID = "myChart"+ (i);
	const ctx = document.getElementById(chartID).getContext('2d');

	const newDiv = document.createElement('div')
	const chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: obj.time,
				datasets: [
					{
						data: obj.lul,
						label: "lul",
						borderColor: "#3cba9f"
					}, {
						data: obj.sad,
						label: 'sad',
						borderColor: "red"
					},  {
						data: obj.activity,
						label: 'activity',
						borderColor: "gray"
					}
				]
			},
			option: {
				title: {
					display: true,
					text: "Some title"
				}
			}
	});
})

</script>
</body>


</html>
